{% extends "admin/_layout.html" %}
{% import "admin/person/_macros.html" as macros %}


{% block content %}

<h2>Lista pokoi <a href="/wp-admin/admin.php?page=resform_event_list" class="add-new-h2">Wróć</a></h2>

<form id="filter_view" action="/wp-admin/admin.php" method="get">
    <input type="hidden" name="page" value="resform_room_list" />
    <input type="hidden" name="event_id" value="{{ event.event_id }}" />
    {% for room_type in room_types %}
    <label>{{ room_type.name }}: <input type="checkbox" name="filter[]" value="{{ room_type.room_type_id }}"
        {% if room_type.room_type_id in filter %}
        checked
        {% endif %}
        /></label>
    {% endfor %}
    <button>Filtruj widok</button>
</form>

<form name="room_list" action="/wp-admin/admin.php?page=resform_room_list&event_id={{ event.event_id }}" method="post">

    <div id="rooms">
        {% for room in rooms %}
        <div class="room" data-room_id="{{ room.room_id }}">
            <div class="description">
                <span class="name">Typ: {{ room.room_type_name }}</span>
                <a
                href="#"
                data-editable
                data-name="room_manual_number"
                data-type="text"
                data-pk="{{ room.room_id }}"
                data-url="{{ ''|ajaxurl }}"
                data-emptytext="Ustaw ręczny numer pokoju"
                data-params='{"action": "resform_room_inline_update"}'
                data-title="Numer nadany ręcznie">{{ room.room_manual_number }}</a>

                <span class="sex">Płeć: {{ room.sex|translate }}</span>
                <span class="space_counts">{{ room.occupied_space_count }} / {{ room.space_count }}</span>
            </div>
            <div class="persons_list" data-droppable>
                {% for person in room.persons %}
                {% if person.family_person_id %}
                {% set class = 'family_member' %}
                {% endif %}
                <div class="person {{ class }}"
                data-person
                {% if person.color_1 %}style="background-color: {{ person.color_1 }}"{% endif %}
                {% if not person.family_person_id %} data-draggable{% endif %}>
                    {% if not person.family_person_id %}
                    <i class="fa fa-arrows" data-handle></i>
                    {% endif%}

                    <input type="hidden" name="person_id[{{ person.person_id }}]" value="{{ room.room_id }}" />
                    <span data-tooltip title="{{ macros.details(person, 'notes_3') }}">{{ person.age }} | {{ person.first_name }} {{ person.last_name }}</span>
                    <a href="/wp-admin/admin.php?page=resform_person_edit&person_id={{ person.person_id }}">
                        <i class="fa fa-external-link"></i>
                    </a>
                    <resform-color
                        data-name="color_1"
                        data-url="{{ ''|ajaxurl }}"
                        data-params='{"action": "resform_person_inline_update"}'
                        data-emptytext="Kolor"
                        data-pk="{{ person.person_id }}">{{ person.color_1 }}</resform-color>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    <p class="submit">
        <button class="button button-primary">Aktualizuj</button>
    </p>
</form>

<!-- <a href="/wp-admin/admin.php?page=resform_room_type_add&event_id={{event.event_id}}">Dodaj Typ Pokoju</a> -->
{% endblock %}
