{% extends "admin/_layout.html" %}

{% block content %}

{% set action = 'add' %}

{% if room_type %}
    {% set action = 'edit&transport_id=' ~ transport.transport_id %}
{% endif %}

<h2>Nowa opcja transportu</h2>

<div id="poststuff">
    <div id="post-body" class="metabox-holder columns-2">
        <div id="post-body-content">
            <form name="post" action="/wp-admin/admin.php?page=resform_transport_{{action}}" method="post">
                {% if room_type %}
                <input type="hidden" name="transport_id" value="{{transport.transport_id}}" />
                <input type="hidden" name="event_id" value="{{transport.event_id}}" />
                {% else %}
                <input type="hidden" name="event_id" value="{{event_id}}" />
                {% endif %}
                <input type="text" name="name" placeholder="nazwa" value="{{transport.name}}" /><br />
                <input type="number" name="price" placeholder="cena" value="{{room_type.price}}" /><br />
                <button>Dodaj</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
