{% extends "admin/_layout.html" %}

{% block content %}
<h2>Lista rodzajów transportu<a href="/wp-admin/admin.php?page=resform_transport_add&event_id={{event.event_id}}" class="add-new-h2">Dodaj nowy</a> <a href="/wp-admin/admin.php?page=resform_event_list" class="add-new-h2">Wróc</a></h2>

<table class="wp-list-table widefat">

    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Cena</th>
            <th>Akcje</th>
        </tr>
    </thead>

    <tbody>

        {% for transport in transports %}
        <tr>
            <td>{{ transport.name }}</td>
            <td>{{ transport.price }}</td>
            <td>
                <a href="/wp-admin/admin.php?page=resform_transport_edit&transport_id={{transport.transport_id}}">Edytuj</a> |
                <a href="/wp-admin/admin.php?page=resform_transport_list&transport_id={{transport.transport_id}}">Usuń</a>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}
