{% extends "admin/_layout.html" %}
{% import "admin/_forms.html" as forms %}
{% block content %}

{% set action = 'add' %}

{% if room_type %}
    {% set action = 'edit&room_type_id=' ~ room_type.room_type_id %}
{% endif %}

{% if room_type %}
<h2>Edytuj Typ pokoju</h2>
{% else %}
<h2>Dodaj Typ pokoju</h2>
{% endif %}


{% if errors %}
<div class="error">
    {% for error in errors %}
    {{ error.0 }}<br />
    {% endfor %}
</div>
{% endif %}

<form name="post" action="/wp-admin/admin.php?page=resform_room_type_{{action}}" method="post">

    <table class="form-table">
        <tbody>

            {% if room_type %}
            <input type="hidden" name="room_type_id" value="{{room_type.room_type_id}}" />
            <input type="hidden" name="event_id" value="{{room_type.event_id}}" />
            {% else %}
            <input type="hidden" name="event_id" value="{{event_id}}" />
            {% endif %}

            {{ forms.input('text', 'name', 'Nazwa', room_type.name, 'Wpisz nazwę') }}

            {{ forms.input('number', 'space_count', 'Liczba miejsc w pokoju', room_type.space_count, '0') }}
            {{ forms.input('number', 'room_count', 'Liczba pokoi', room_type.room_count, '0') }}
            {{ forms.input('number', 'price', 'Cena', room_type.price, '0') }}

            <tr>
                <th scope="row">Łazienka?</th>
                <td>
                    <label for="bathroom">
                        <select name="has_bathroom" placeholder="łazienka?" id="bathroom">
                            <option value="1">Tak</option>
                            <option value="0"{% if not room_type.bathroom %} selected{% endif %}>Nie</option>
                        </select>
                    </label>
                </td>
            </tr>

        </tbody>
    </table>
    <p class="submit">
        {% if room_type %}
        <button class="button button-primary">Edytuj</button>
        {% else %}
        <button class="button button-primary">Dodaj</button>
        {% endif %}
    </p>

</form>

{% endblock %}
