{% extends "admin/_layout.html" %}
{% import "admin/person/_macros.html" as macros %}

{% block content %}
<h2>Osoby<a href="/wp-admin/admin.php?page=resform_event_add" class="add-new-h2">Eksportuj</a></h2>

{{ macros.form(event, view) }}

<form name="room_list" action="/wp-admin/admin.php?page=resform_person_list&event_id={{ event.event_id }}&view=room" method="post">

    <div id="test">
        {% for room in rooms.data %}
        <div class="room" data-room_id="{{ room.room_id }}">
            <span clas="name">{{ room.room_type_name }}</span>
            <div class="droppable">
                {% for person in room.persons %}
                <div class="draggable">
                    <input type="hidden" name="person_id[{{ person.person_id }}]" value="{{ room.room_id }}" />
                    {{ person.first_name }} {{ person.last_name }}</div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>

    <button>Dodaj</button>
</form>



{% endblock %}
