{% extends "admin/_layout.html" %}

{% import "admin/person/_macros.html" as macros %}

{% block content %}
<h2>Osoby
    <a href="{{ ''|ajaxurl }}?action=resform_person_export&event_id={{ event.event_id }}" class="add-new-h2">Eksportuj</a>
    <a href="/wp-admin/admin.php?page=resform_event_list" class="add-new-h2">Wróć</a>
    <a href="/wp-admin/admin.php?page=resform_person_add&event_id={{event.event_id}}" class="add-new-h2">Dodaj osobę</a>
</h2>

{{ macros.form(event, view) }}

<form name="external_author" action="/wp-admin/admin.php?page=handimania_external_authors" method="post">

    <table class="wp-list-table widefat">
        <thead>
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Typ pokoju</th>
                <th>Rodzaj transportu</th>
                <th>Cena</th>
                <th>Data rejestracji</th>
                <th>Notatki</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons.data %}
            <tr{% if loop.index is odd %} class="alternate"{% endif %} {% if person.color_1 %}style="background-color: {{ person.color_1 }}"{% endif %}>

                <td data-tooltip title="{{ macros.details(person) }}">{{ person.first_name }}</td>
                <td>{{ person.last_name }}</td>
                <td>{{ person.room_type_name }}</td>
                <td>{{ person.transport_name }}</td>
                <td>{{ person.price|format_price }}</td>
                <td>{{ person.add_time|date("H:i d-m-Y") }}</td>
                <td>
                    <a
                        href="#"
                        data-editable
                        data-name="notes_2"
                        data-type="text"
                        data-pk="{{ person.person_id }}"
                        data-url="{{ ''|ajaxurl }}"
                        data-emptytext="Notatki"
                        data-params='{"action": "resform_person_inline_update"}'
                        data-title="Notatki">{{ person.notes_2 }}</a>
                    <a
                        href="#"
                        data-name="color_1"
                        data-pk="{{ person.person_id }}"
                        data-url="{{ ''|ajaxurl }}"
                        data-editable
                        data-savenochange="true"
                        data-emptytext="Kolor"
                        data-tpl='<input type="color">'
                        data-params='{"action": "resform_person_inline_update"}'
                        data-type="tel">{{ person.color_1 }}</a>
                </td>
                <td>
                    <a href="/wp-admin/admin.php?page=resform_person_edit&person_id={{person.person_id}}">Edytuj</a>
                    <a
                        data-delete
                        href="/wp-admin/admin.php?page=resform_person_list&event_id={{event.event_id}}&person_id={{person.person_id}}">Usuń</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="tablenav bottom">

        <!-- <div class="alignleft actions">
            <button class="button action">Update</button>
        </div> -->

        {{ macros.pager('/wp-admin/admin.php?page=resform_person_list&view=' ~ view ~ '&event_id=' ~ event.event_id, persons.pager) }}

        <br class="clear">

    </div>

</form>

{% endblock %}
