.draggable {
   display: block;
   border: 1px solid blue;
   margin: 1px;
   text-align: center;
   vertical-align: center;
}

.room {
    display: inline-block;
    min-width: 20%;
    vertical-align: top;
}

.droppable {
    /* position: absolute; */
    border: 1px solid black;
    padding: 10px;
    min-height: 100px;
}

.droppable.over {
    padding-bottom: 50px;
}
