.resform .optional {
    height: 0;
    display: none;
}

.resform .optional.open {
    display: block;
    height: auto;
}

.resform .field {
    display: block;
}

.resform .field.separated {
    margin-bottom: 1vh;
}

.resform .field.separated_more {
    margin-bottom: 3vh;
}

.resform .field .name {
    display: inline-block;
    width: 100%;
}

.resform .field .input {
    width: 70%;
}

.resform .field .name {
    font-weight: bold;
}

.resform .field.short {
    display: inline;
    width: auto;
}

.resform .field.full .name,
.resform .field.short .name {
    display: inline;
    width: auto;
}

.resform h1,
.resform h2 {
    border-bottom: 1px solid black;
    margin-bottom: 1vw;
}

.resform hr {
    border-top: 1px solid black;
}


.resform .description {
    font-size: 0.9em;
    display: inline-block;
    line-height: 1em;
    color: grey;
}


.resform .submit {
    margin-top: 3vh;
    text-align: center;
    padding-top: 1vh;
    border-top: 1px solid black;
}

.resform .button {
    font-size: 0.875em;
    line-height: 2.2857em;
    padding: 0.2em 0.75em;
    background-color: #000;
    color: #FFF;
    border: medium none;
    cursor: pointer;
    border-radius: 3px;
}

.resform p {
    margin: 0 0 1vh;
    line-height: 1em;
}

.resform .field.with_error {
    /* border: 1px solid red; */
}

.resform .field.with_error .error {
    color: red;
    display: block;
}


.resform .text {
    width: 100%;
}

.resform .field .choice {
    width: 49%;
    display: inline-block;
    text-align: center;
}

.resform .family_member {
    margin-bottom: 2vh;
    border-bottom: 1px solid black;
    padding-bottom: 2vh;
}

.resform .family_member .field {
    width: 49%;
    display: inline-block;
}

.resform .family_member .field.date {
    width: 53%;
}


.tj_post_footer_meta {
    display: none !important;
}
