{% extends "admin/_layout.html" %}
{% import "admin/_forms.html" as forms %}

{% block content %}

{% set action = 'add' %}

{% if event %}
    {% set action = 'edit&event_id=' ~ event.event_id %}
{% endif %}

{% if event %}
<h2>Edytuj Wydarzenie</h2>
{% else %}
<h2>Dodaj nowe wydarzenie</h2>
{% endif %}


{% if errors %}
<div class="error">
    {% for error in errors %}
    {{ error.0 }}<br />
    {% endfor %}
</div>
{% endif %}

<form name="post" action="/wp-admin/admin.php?page=resform_event_{{action}}" method="post">

    <table class="form-table">
        <tbody>

            {% if event %}
            <input type="hidden" name="event_id" value="{{event.event_id}}" />
            {% endif %}

            {{ forms.input('text', 'name', 'Nazwa', event.name, 'Wpisz nazwę') }}

            {{ forms.input('text', 'start_time', 'Data rozpoczęcia',
            event.start_time is empty ? "" : event.start_time|date('d-m-Y'), 'dd-mm-rrrr') }}
            {{ forms.input('text', 'end_time', 'Data zakończenia',
            event.end_time is empty ? "" : event.end_time|date('d-m-Y'), 'dd-mm-rrrr') }}

            {{ forms.input('text', 'reservation_start_time', 'Data rozpoczęcia zapisów',
            event.reservation_end_time is empty ? "" : event.reservation_start_time|date('H:i d-m-Y'), 'gg:mm dd-mm-rrrr') }}
            {{ forms.input('text', 'reservation_end_time', 'Data zakończenia zapisów',
            event.reservation_start_time is empty ? "" : event.reservation_end_time|date('H:i d-m-Y'), 'gg:mm dd-mm-rrrr') }}

            {{ forms.textarea('front_info', 'Informacja początkowa', event.front_info) }}
            {{ forms.textarea('room_type_info', 'Informacja o pokojach', event.room_type_info) }}
            {{ forms.textarea('transport_info', 'Informacja o transporcie', event.transport_info) }}
            {{ forms.textarea('regulations', 'Regulamin', event.regulations) }}


        </tbody>
    </table>
    <p class="submit">
        {% if event %}
        <button class="button button-primary">Edytuj</button>
        {% else %}
        <button class="button button-primary">Dodaj</button>
        {% endif %}
    </p>

</form>

{% endblock %}
