{% extends "admin/_layout.html" %}

{% block content %}

{% set action = 'add' %}

{% if event %}
    {% set action = 'edit&event_id=' ~ event.event_id %}
{% endif %}

<h2>Nowe wydarzenie</h2>

<div id="poststuff">
    <div id="post-body" class="metabox-holder columns-2">
        <div id="post-body-content">
            <form name="post" action="/wp-admin/admin.php?page=resform_event_{{action}}" method="post">
                {% if event %}
                <input type="hidden" name="event_id" value="{{event.event_id}}" />
                {% endif %}
                <input type="text" name="name" placeholder="nazwa" value="{{event.name}}" /><br />
                <input type="text" name="start_time" placeholder="data rozpoczęcia" value="{{event.start_time}}" /><br />
                <input type="text" name="end_time" placeholder="data zakończenia" value="{{event.end_time}}" /><br />
                <input type="text" name="reservation_start_time" placeholder="data rozpoczęcia zapisów" value="{{event.reservation_start_time}}" /><br />
                <input type="text" name="reservation_end_time" placeholder="data zakończenia zapisów" value="{{event.reservation_start_time}}" /><br />

                <textarea name="front_info" placeholder="informacja początkowa">{{event.front_info}}</textarea><br />

                <textarea name="room_type_info" placeholder="informacja o pokojach">{{event.room_type_info}}</textarea><br />

                <textarea name="transport_info" placeholder="informacja o rodzajach dojazdu">{{event.transport_info}}</textarea><br />

                <textarea name="regulations" placeholder="regulamin">{{event.regulations}}</textarea><br />

                <button>Dodaj</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
