{% if errors.register %}
{{ errors.register }}

<form action="{{ action_url }}" method="post" class="resform">
    <button class="button" name="step" value="2">Zmień pokój</button>
</form>

{% else %}
<div>
    <p>Gratulujemy!</p>
    <p>Twoje zgłoszenie na rekolekcje Weekend Pełen Łaski zostało zarejestrowane.
    Wszystkie szczegółowe informacje zostały wysłane do Ciebie na podany w formularzu adres e-mail. Udział w rekolekcjach zostanie ostatecznie potwierdzony po wpłynięciu pełnej opłaty za rekolekcje na konto Fundacji Malak (termin płatności: 3 dni od daty przesłania zgłoszenia).
    Jeżeli masz pytania, napisz: rekolekcje@fundacjamalak.pl</p>
    <p>Pozdrawiamy!</p>
</div>
{% endif %}
