{% if errors.register %}
{{ errors.register }}

<form action="{{ action_url }}" method="post" class="resform">
    <button class="button" name="step" value="2">Zmień pokój</button>
</form>

{% else %}
<div>
    <p>Gratulujemy!</p>

    {% if values.is_reservation %}
    <p>Twoje zgłoszenie na listę rezerwową zostało zapisane, dziękujemy</p>
    {% else %}

    <p>Twoje zgłoszenie na rekolekcje Weekend Pełen Łaski zostało zarejestrowane.
    Wszystkie szczegółowe informacje zostały wysłane do Ciebie na podany w formularzu adres e-mail. Udział w rekolekcjach zostanie ostatecznie potwierdzony po wpłynięciu pełnej opłaty za rekolekcje na konto Fundacji Malak (termin płatności: 3 dni od daty przesłania zgłoszenia).
    Jeżeli masz pytania, napisz: rekolekcje@fundacjamalak.pl</p>

    <strong>Kwota do zapłaty:</strong> <span>{{ (values.price + values.price_family)|format_price }}</span><br />

    <strong>Typ pokoju:</strong> <span>{{ values.room_type_name }}</span><br />

    {% endif %}


    <p>Pozdrawiamy!</p>
</div>
{% endif %}
