
<form action="{{ action_url }}" method="post" class="resform">
    <input type="hidden" name="step" value="3">

    <label class="two-line main{% if errors.room_type_id %} error{% endif %}">
        {% if errors.room_type_id %}
        <span class="error_desc">{{ errors.room_type_id.0 }}</span>
        {% endif %}
        <span>Typ pokoju (liczba wolnych miejsc):</span>
        <select name="room_type_id" id="room_type">
            <option value="">Wybierz typ pokoju</option>
            {% for room_type in room_types %}
            <option value="{{ room_type.room_type_id }}"
            {% if room_type.free_space_count == 0 %} disabled{% endif %}
            {% if values.room_type_id == room_type.room_type_id %} selected{% endif %}>{{ room_type.name }} ({{ room_type.free_space_count }})</option>
            {% endfor %}
        </select>
    </label>

    <label class="two-line main{% if errors.transport_id %} error{% endif %}">
        {% if errors.transport_id %}
        <span class="error_desc">{{ errors.transport_id.0 }}</span>
        {% endif %}
        <span>Transport:</span>
        <select name="transport_id" id="room_type">
            <option value="">Wybierz typ transportu</option>
            {% for transport in transports %}
            <option value="{{ transport.transport_id }}"{% if values.transport_id == transport.transport_id %} selected{% endif %}>{{ transport.name }}</option>
            {% endfor %}
        </select>
    </label>

    <label class="two-line main{% if errors.comments %} error{% endif %}">
        <span>Uwagi/komentarze:</span>
        <textarea name="comments"></textarea>
    </label>

    <button>Idź dalej</button>
    <button name="step" value="1">Wróc do poprzedniego kroku</button>
</form>
