
<form action="{{ action_url }}" method="post" class="resform">
    <input type="hidden" name="step" value="4">

    <h2>Regulamin</h2>


    <textarea disabled class="text" rows="50">{{ event.regulations }}</textarea>
    <label class="field full separated_more{% if errors.accept_regulation %} with_error{% endif %}">
        {% if errors.accept_regulation %}
        <span class="error">{{ errors.accept_regulation.0|translate }}</span>
        {% endif %}
        <input type="hidden" name="accept_regulation" value="0" />
        <input type="checkbox" name="accept_regulation" value="1"{% if values.accept_regulation == true %} checked{% endif %}/>
        <span class="name">Akceptuję regulamin</span>
    </label>

    <label class="field full{% if errors.accept_information %} with_error{% endif %}">
        {% if errors.accept_information %}
        <span class="error">{{ errors.accept_information.0|translate }}</span>
        {% endif %}
        <input type="hidden" name="accept_information" value="0" />
        <input type="checkbox" name="accept_information" value="1"{% if values.accept_information == true %} checked{% endif %}/>
        <span class="name">Wyrażam zgodę na przetwarzanie moich danych osobowych przez Fundację Malak dla potrzeb niezbędnych do realizacji wyjazdu "Weekend pełen Łaski" zgodnie z Ustawą z dnia 29.08.1997 roku o Ochronie Danych Osobowych ( Dz.U. z 2002r. Nr 101, poz. 926 ze zm.).</span>
    </label>

    <fieldset class="submit">
        <button class="button">Idź dalej</button>
        <button class="button" name="step" value="2">Wróć do poprzedniego kroku</button>
        <button class="button" name="step" value="0">Zacznij od początku</button>
    </fieldset>
</form>
