
<form action="{{ action_url }}" method="post" class="resform">
    <h2>Szczegóły zapisów</h2>

    <input type="hidden" name="step" value="3">
    <label class="field separated_more{% if errors.room_type_id %} with_error{% endif %}">
        <span class="name">Typ pokoju (liczba wolnych miejsc):</span>
        <div class="description">{{ event.room_type_info|nl2br }}</div>
        {% if errors.room_type_id %}
        <span class="error">{{ errors.room_type_id.0|translate }}</span>
        {% endif %}
        <select name="room_type_id" id="room_type">
            <option value="">Wybierz typ pokoju</option>
            {% for room_type in room_types %}
            <option value="{{ room_type.room_type_id }}"
            {#{% if room_type.disabled == 0 %} disabled{% endif %}#}
            {% if values.room_type_id == room_type.room_type_id %} selected{% endif %}>{{ room_type.name }} ({{ room_type.free_space_count }})</option>
            {% endfor %}
        </select>
    </label>

    <label class="field separated_more{% if errors.transport_id %} with_error{% endif %}">
        <span class="name">Transport:</span>
        <div class="description">{{ event.transport_info|nl2br }}</div>
        {% if errors.transport_id %}
        <span class="error">{{ errors.transport_id.0|translate }}</span>
        {% endif %}
        <select name="transport_id" id="room_type">
            <option value="">Wybierz typ transportu</option>
            {% for transport in transports %}
            <option value="{{ transport.transport_id }}"{% if values.transport_id == transport.transport_id %} selected{% endif %}>{{ transport.name }}</option>
            {% endfor %}
        </select>
    </label>

    <label class="field{% if errors.comments %} with_error{% endif %}">
        <span class="name">Uwagi/komentarze:</span>
        <p class="description">Jeżeli chciałbyś dzielić z kimś pokój i wybraliście ten sam typ pokoju, wpisz imię i nazwisko tej osoby, a my w miarę możliwości postaramy się zakwaterować Was wspólnie. Możesz też wpisać tutaj inne uwagi.</p>
        <textarea class="text" name="comments"></textarea>
    </label>

    <fieldset class="submit">
        <button class="button">Idź dalej</button>
        <button class="button" name="step" value="1">Wróc do poprzedniego kroku</button>
        <button class="button" name="step" value="0">Zacznij od początku</button>
    </fieldset>
</form>
