{% import "front/_forms.html" as forms %}

<form action="{{ action_url }}" method="post" class="resform">
    <input type="hidden" name="step" value="2">

    <fieldset>

        {% if is_full %}
        <p>Z powodu braku miejsc formularz nie przyjmuje już zapisów.</p>
        <p>Zgłaszasz się na listę rezerwową.</p>
        <input type="hidden" name="is_reservation" value="1">
        {% else %}
        <input type="hidden" name="is_reservation" value="0">
        {% endif %}

        <h2>Dane osobowe</h2>

        {{ forms.start("Płeć:", errors.sex, '', '') }}
            <label class="choice">

                <select name="sex">
                    <option value="">wybierz</option>
                    <option value="female" {% if values.sex == 'female' %} selected{% endif %}>Kobieta</option>
                    <option value="male" {% if values.sex == 'male' %} selected{% endif %}>Mężczyzna</option>
                </select>
                {#<span>Kobieta:</span>
                <input type="radio" name="sex" value="female"{% if values.sex == 'female' %} checked{% endif %}>
            </label>
            <label class="choice">
                <span>Mężczyzna:</span>
            <input type="radio" name="sex" value="male"{% if values.sex == 'male' %} checked{% endif %}>#}
            </label>
        {{ forms.end() }}

        {{ forms.label_input('Imię:', 'text', 'first_name', values.first_name, errors.first_name) }}

        {{ forms.label_input('Nazwisko:', 'text', 'last_name', values.last_name, errors.last_name) }}

        {{ forms.label_input('Data urodzenia:', 'date', 'birth_date', values.birth_date, errors.birth_date, 'rrrr-mm-dd') }}

        {{ forms.label_input('Adres e-mail:', 'text', 'email', values.email, errors.email, 'twoj@adres.com') }}

        {{ forms.label_input('Numer telefonu:', 'text', 'phone', values.phone, errors.phone) }}

        {{ forms.label_input('Miasto:', 'text', 'city', values.city, errors.city) }}

    <fieldset>
    <h2>Informacje dodatkowe</h2>
    <fieldset>
        <h3>Osoba niepełnosprawna/opiekun osoby niepełnosprawnej</h3>
        <p class="description">W przypadku osób niepełnosprawnych oraz ich opiekunów, proszę podać imię i nazwisko opiekuna / osoby niepełnosprawnej, którą się opiekujesz - ułatwi to nam przydzielenie do wspólnego pokoju.</p>
        <label class="field">Jestem:</label>
        <label class="field full">
            <span class="name">osobą niepełnosprawną:</span>
            <input type="hidden" name="is_disabled" value="0" />
            <input type="checkbox" name="is_disabled" value="1"
                data-set-id="disabled_set"
                {% if values.is_disabled == '1' %} checked{% endif %}>
        </label>
        <label class="field full separated">
            <span class="name">opiekunem osoby niepełnosprawnej:</span>
            <input type="hidden" name="is_disabled_guardian" value="0" />
            <input type="checkbox" name="is_disabled_guardian" value="1"
                data-set-id="disabled_guardian_set"
                {% if values.is_disabled_guardian == '1' %} checked{% endif %}>
        </label>

        <fieldset id="disabled_set" class="optional" disabled>
            {{ forms.label_input('Stopień/rodzaj niepełnosprawności:', 'text', 'disability_type', values.disability_type, errors.disability_type, '', '') }}

            {{ forms.start("Czy możesz chodzić po schodach?", errors.has_stairs_accessibility, '', '') }}

            <label class="choice">
                <span>tak:</span>
                <input type="radio" name="has_stairs_accessibility" value="1"
                    {% if values.has_stairs_accessibility == '1' %} checked{% endif %}>
            </label>

            <label class="choice">
                <span>nie:</span>
                <input type="radio" name="has_stairs_accessibility" value="0"
                    {% if values.has_stairs_accessibility == '0' %} checked{% endif %}>
            </label>
            {{ forms.end() }}

            {{ forms.label_input(
                'Imię i nazwisko opiekuna:',
                'text',
                'guardian_person_name',
                values.guardian_person_name,
                errors.guardian_person_name,
                '',
                '') }}
        </fieldset>

        <fieldset id="disabled_guardian_set" class="optional" disabled>
            {{ forms.label_input('Imię i nazwisko osoby niepełnosprawnej, którą się opiekuję:', 'text', 'disabled_person_name', values.disabled_person_name, errors.disabled_person_name, '', '') }}
        </fieldset>
    </fieldset>

    <fieldset>
        <h3>Niepełnoletni uczestnicy i ich opiekunowie</h3>

        <label class="field full separated">
            <span class="name">Jestem osobą niepełnoletnią, będę na wyjeździe bez opieki rodziców/prawnych opiekunów:</span>
            <input type="hidden" name="underaged" value="no" />
            <input type="checkbox" name="underaged" value="alone"
                {% if values.underaged == 'alone' %} checked{% endif %}>
            <span class="description">W rekolekcjach mogą wziąć udział osoby niepełnoletnie bez opieki i obecności rodziców/prawnych opiekunów. Muszą jednak mieć co najmniej 16 lat i przesłać do Organizatora zgodę rodziców/prawnych opiekunów na udział ich dziecka/podopiecznego w rekolekcjach - pismo do uzupełnienia i podpisania zostanie wysłane w mailu potwierdzającym zapis.</span>
        </label>

        <label class="field full separated">
            <span class="name">Jestem osobą niepełnoletnią, wezmę udział w rekolekcjach z opiekunem, który nie jest moim rodzicem/opiekunem prawnym</span>
            <input type="hidden" name="is_underaged_guardian" value="0" />
            <input type="checkbox" name="is_underaged_guardian" value="1"
                {% if values.is_underaged_guardian == '1' %} checked{% endif %}>
            <span class="description">Jeżeli niepełnoletni uczestnik bierze udział w rekolekcjach pod opieką osoby niebędącej jego rodzicem/opiekunem prawnym, zobowiązany jest przesłać do Organizatora zgodę rodziców/prawnych opiekunów na udział ich podopiecznego w rekolekcjach oraz wskazanie opiekuna - pismo do uzupełnienia i podpisania zostanie wysłane w mailu potwierdzającym zapis.</span>
        </label>

        <fieldset>
            <label class="field full separated">
                <span class="name">Jestem opiekunem osoby niepełnoletniej</span>
                <span class="description">Wpisz imię i nazwisko osoby, za którą bierzesz odpowiedzialność:</span>
                {% if errors.underaged_person_name %}
                <span class="error">{{ errors.underaged_person_name.0 }}</span>
                {% endif %}
                <input type="text" name="underaged_person_name" value="{{ values.underaged_person_name }}">
            </label>
        </fieldset>

    </fieldset>

    <fieldset id="family_fieldset">
        <h3>Członkowie rodziny</h3>
        <p class="description">Rodzina może zapisać się jedynie do pokoju, który zapełni w całości. Np. jeżeli zapisujesz rodzinę 4-osobową (z dziećmi powyżej 3 r.ż.) w formularzu jako dostępne zostaną wyświetlone tylko pokoje 4-osobowe. Jeżeli wybrany przez Ciebie typ pokoju jest niedostępny, spróbuj zapisać oddzielnie jednego z członków rodziny (zostanie on zakwaterowany do innego pokoju). UWAGA: Dziecko do 3 r.ż. jest zwolnione z opłaty za rekolekcje oraz nie otrzymuje własnego łóżka.</p>
        <p class="description">DOSTĘPNE POKOJE: 2,3,4,5,8-osobowe.</p>
        <div id="family"></div>

        <button id="family_button" class="button">Dodaj członka rodziny/dziecko</button>

        <div style="display: none;" id="family_template">
            <fieldset class="family_member" disabled>
                <label class="field" data-name="first_name">
                    <span class="name">Imię:</span>
                    <input type="text" name="family_first_name[]" value="">
                </label>
                <label class="field" data-name="last_name">
                    <span class="name">Nazwisko:</span>
                    <input type="text" name="family_last_name[]" value="">
                </label>
                <label class="field" data-name="birth_date">
                    <span class="name">Data urodzenia:</span>
                    <input type="date" name="family_birth_date[]" value="" placeholder="rrrr-mm-dd">
                </label>
                <label data-family-remove class="button">Usuń tę osobę</label>
            </fieldset>
        </div>
        <script id="family_data">
            window.resform_family_data = {
                first_names: {{ values.family_first_name|json_encode()|raw }},
                last_names: {{ values.family_last_name|json_encode()|raw }},
                birth_dates: {{ values.family_birth_date|json_encode()|raw }},
                first_names_errors: [
                    {% for i, b in values.family_first_name %}
                    '{{ errors['family_first_name[' ~ i ~ ']'].0|translate }}',
                    {% endfor %}
                ],
                last_name_errors: [
                    {% for i, b in values.family_last_name %}
                    '{{ errors['family_last_name[' ~ i ~ ']'].0|translate }}',
                    {% endfor %}
                ],
                birth_date_errors: [
                    {% for i, b in values.family_birth_date %}
                    '{{ errors['family_birth_date[' ~ i ~ ']'].0|translate }}',
                    {% endfor %}
                ]
            };
        </script>
    </fieldset>

    <fieldset class="submit">
        <button class="button">Idź dalej</button>
        <button class="button" name="step" value="0">Zacznij od początku</button>
    </fieldset>
</form>
