<div class="wrap">

    {% block content %}{% endblock %}


    {% verbatim %}
    <style>

    resform-color select {
        width: 50px;
    }

    resform-color [data-color] {
        height: 20px;
        width: 20px;
        display: inline-block;
        border: 1px solid black;
    }

    resform-color .ui-selectmenu-text [data-color] {
        border: 1px solid black;
    }

    resform-color .ui-selectmenu-open {
        background: white;
        display: block;
        z-index: 100;
        box-shadow: 0 0 15px rgba(0, 0, 0, .8);
    }

    resform-color .ui-menu-item {
        text-align: center;
    }

    .person.ui-draggable resform-color,
    .person.family_member resform-color {
        float: right;
        display: inline-block;
        height: 10px;
        margin-right: -5px;
    }

    .ui-selectmenu-button span.ui-selectmenu-text {
        padding: 0;
    }

    .person.ui-draggable resform-color [data-color],
    .person.family_member resform-color [data-color] {
        width: 8px;
        height: 8px;
    }

    .person.ui-draggable resform-color select,
    .person.ui-draggable .ui-selectmenu-button.ui-widget,
    .person.family_member resform-color select,
    .person.family_member .ui-selectmenu-button.ui-widget {
        width: 20px !important;
    }

    </style>

    <script type="text/html" id="resform-color">
        <select name="{{name}}">
            {% for option in options %}
            <option{% if option == value %} selected="selected"{% endif %}>{{ option }}</option>
            {% endfor %}
        </select>
    </script>
    {% endverbatim %}
</div>
